In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter, FuncFormatter
import datetime as dt

pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 50)
pd.options.display.float_format = '{:,.4f}'.format

%matplotlib inline
plt.rcParams['figure.figsize'] = (8, 6)
plt.style.use("fivethirtyeight")

# Makes graphs crisp. Only use if you don't have a lot of points/lines on your graph.
%config InlineBackend.figure_formats = ['svg', 'retina'] # use svg, then retina if svg is not supported

In [2]:
helper_dir = '../helper'

%run {helper_dir}/defillama.py
%run {helper_dir}/plot.py

In [3]:
obj = DefiLlama()

## Get all stablecoins along with their circulating amounts

In [4]:
obj.get_stablecoins_circulating()

,name,symbol,gecko_id,pegType,priceSource,pegMechanism,circulating,circulatingPrevDay,circulatingPrevWeek,circulatingPrevMonth
id,,,,,,,,,,
1,Tether,USDT,tether,peggedUSD,chainlink,fiat-backed,"67,949,850,742.1711","67,949,850,742.1855","67,920,695,917.9382","67,543,810,674.7633"
2,USD Coin,USDC,usd-coin,peggedUSD,chainlink,fiat-backed,"48,791,592,155.1684","49,050,085,080.9902","49,498,110,929.1085","51,484,000,260.7362"
3,TerraClassicUSD,USTC,terrausd,peggedUSD,chainlink,algorithmic,"9,816,528,756.9626","9,816,666,238.3754","9,815,491,999.7801","9,815,492,345.9043"
4,Binance USD,BUSD,binance-usd,peggedUSD,chainlink,fiat-backed,"21,034,339,479.1600","21,034,339,479.1600","20,656,471,724.9800","19,387,441,229.2100"
5,Dai,DAI,dai,peggedUSD,chainlink,crypto-backed,"6,469,523,431.5919","6,471,072,643.9096","6,422,716,355.7249","6,479,945,591.6168"
...,...,...,...,...,...,...,...,...,...,...
77,LUGH,EURL,lugh,peggedEUR,None,fiat-backed,"5,140,010.0000","5,140,010.0000","5,240,010.0000","5,240,010.0000"
78,Note,NOTE,note,peggedUSD,coingecko,crypto-backed,"15,483,646.5253","15,453,514.1574","18,457,065.0933","18,940,042.1752"
79,Destablecoin HAY,HAY,helio-protocol-hay,peggedUSD,dexscreener,crypto-backed,"28,983,990.2094","28,604,316.8613","9,410,120.8351",0.0000
80,USD2,USD2,usd2,peggedUSD,kaddex,crypto-backed,"62,626.8136","62,626.8136","62,626.8136",0.0000
81,USK,USK,usk,peggedUSD,coingecko,crypto-backed,"235,582.6918","210,960.2693",0.0000,0.0000

In [5]:
dd = obj.get_stablecoins_circulating_by_chain()

In [6]:
dd['USDT']

,type,current,circulatingPrevDay,circulatingPrevWeek,circulatingPrevMonth
chain,,,,,
Optimism,peggedUSD,"82,858,685.8364","91,869,938.1219","90,409,761.1939","85,437,347.5089"
Statemine,peggedUSD,"3,490,005.0000","3,490,005.0000","3,490,005.0000","3,490,005.0000"
Harmony,peggedUSD,0.0000,0.0000,0.0000,"9,981,124.2656"
BSC,peggedUSD,"4,976,317,373.5262","4,976,314,061.6640","4,976,353,012.3657","4,976,283,711.4358"
Dogechain,peggedUSD,"855,046.6150","945,743.8278","1,120,524.7310","1,331,395.1481"
...,...,...,...,...,...
Theta,peggedUSD,"1,132.4231","1,132.4231","1,132.4231","1,132.4231"
NEO,peggedUSD,"6,855,446.0000","6,855,446.0000","6,855,446.0000","6,855,446.0000"
Syscoin,peggedUSD,"84,782.6868","84,782.6868","85,204.3022","84,582.3145"
Solana,peggedUSD,"1,810,338,959.1792","1,810,320,410.6945","1,810,330,266.1694","1,810,469,686.9235"
Everscale,peggedUSD,"6,228,100.4470","6,232,031.8404","6,928,795.0109","7,597,831.0654"

In [7]:
dd['USDC']

,type,current,circulatingPrevDay,circulatingPrevWeek,circulatingPrevMonth
chain,,,,,
Optimism,peggedUSD,"414,126,362.0402","412,967,180.5870","406,872,123.6058","389,658,655.6211"
DFK,peggedUSD,"3,555,646.3867","3,544,502.4925","3,421,180.4538","3,733,139.2713"
Kadena,peggedUSD,0.0000,0.0000,0.0000,"136,736.2669"
BSC,peggedUSD,"1,181,778,492.8987","1,181,786,400.1541","1,181,795,868.1116","1,181,799,144.2441"
Flow,peggedUSD,"16,146,396.0000","16,618,078.0000","15,747,500.0000","14,365,719.0000"
...,...,...,...,...,...
Syscoin,peggedUSD,"671,122.1997","671,122.1997","698,289.3585","718,746.3691"
Solana,peggedUSD,"3,192,876,661.6535","3,196,125,791.4749","3,522,769,300.2416","4,102,671,434.6422"
Ronin,peggedUSD,"32,945,939.6023","32,945,939.6023","32,945,939.6023","32,945,939.6023"
Elrond,peggedUSD,"41,919,860.0214","42,103,054.6248","42,400,223.7648","43,856,984.7165"
Everscale,peggedUSD,"4,829,559.2034","4,829,559.2034","4,849,559.2034","5,513,619.1007"

In [8]:
dd['EURL']

,type,current,circulatingPrevDay,circulatingPrevWeek,circulatingPrevMonth
chain,,,,,
Ethereum,peggedEUR,5010,5010,5010,5010
Tezos,peggedEUR,5135000,5135000,5235000,5235000

## Get all available historical mcaps of a stablecoin

In [9]:
# get stablecoin ids
df = obj.get_stablecoins_circulating()
ss = df.loc[:, 'name']
ss

id
1               Tether
2             USD Coin
3      TerraClassicUSD
4          Binance USD
5                  Dai
            ...
77                LUGH
78                Note
79    Destablecoin HAY
80                USD2
81                 USK
Name: name, Length: 81, dtype: object

In [10]:
obj.get_stablecoin_hist_mcap(1) # USDT

,totalCirculating,totalUnreleased,totalCirculatingUSD,totalMintedUSD,totalBridgedToUSD
date,,,,,
2021-01-01,"20,934,027,063.0407",0.0000,"20,935,116,985.4935",0,0
2021-01-02,"21,123,644,615.3857",0.0000,"21,165,735,737.9266",0,0
2021-01-03,"21,202,977,966.9670",0.0000,"21,269,142,057.2449",0,0
2021-01-04,"21,350,523,809.2807",0.0000,"21,365,921,518.0764",0,0
2021-01-05,"21,808,226,475.3264",0.0000,"21,801,817,637.4862",0,0
...,...,...,...,...,...
2022-09-22,"67,966,741,908.4056","2,328,553,391.1487","67,975,491,267.0914",0,0
2022-09-23,"67,951,850,744.1856","2,342,111,638.2413","67,951,949,274.3692",0,0
2022-09-24,"67,949,850,742.1855","2,344,111,640.2413","67,949,388,003.7020",0,0
2022-09-25,"67,949,850,742.1856","2,344,111,640.2413","67,950,359,007.0691",0,0
2022-09-26,"67,949,850,742.1711","2,344,111,640.2413","67,952,625,134.5769",0,0

In [11]:
obj.get_stablecoin_hist_mcap(2) # USDC

,totalCirculating,totalUnreleased,totalCirculatingUSD,totalMintedUSD,totalBridgedToUSD
date,,,,,
2021-01-01,"3,925,840,105.2083",0.0000,"3,931,691,995.7085",0,0
2021-01-02,"4,123,724,902.2272",0.0000,"4,121,592,025.5758",0,0
2021-01-03,"4,128,120,369.1505",0.0000,"4,138,858,681.0652",0,0
2021-01-04,"4,227,905,606.0224",0.0000,"4,213,378,134.3475",0,0
2021-01-05,"4,254,328,706.9059",0.0000,"4,173,046,861.3466",0,0
...,...,...,...,...,...
2022-09-22,"49,308,982,072.5681","2,386,956,447.5218","49,313,662,974.2362",0,0
2022-09-23,"49,231,187,797.9823","2,398,847,294.5342","49,234,884,567.8741",0,0
2022-09-24,"49,073,761,634.6130","2,395,539,664.2252","49,075,423,272.1820",0,0
2022-09-25,"49,050,254,407.5927","2,518,136,919.5906","49,048,487,617.4290",0,0
2022-09-26,"48,791,592,155.1684","2,533,917,561.6438","48,790,880,285.8389",0,0

In [12]:
frax_id = ss.index[ss == 'Frax'].values[0]
print('Frax id:', frax_id)
obj.get_stablecoin_hist_mcap(frax_id) # Frax

Frax id: 6

,totalCirculating,totalUnreleased,totalCirculatingUSD,totalMintedUSD,totalBridgedToUSD
date,,,,,
2021-01-01,"57,389,050.4678",0,"57,182,625.2793",0,0
2021-01-02,"71,772,627.9154",0,"72,715,225.4559",0,0
2021-01-03,"78,289,715.7593",0,"79,285,756.9220",0,0
2021-01-04,"78,876,977.8695",0,"79,385,984.5492",0,0
2021-01-05,"76,277,371.0968",0,"74,936,731.8739",0,0
...,...,...,...,...,...
2022-09-22,"1,361,215,653.3713",0,"1,359,762,038.3994",0,0
2022-09-23,"1,355,965,653.3713",0,"1,356,177,292.4905",0,0
2022-09-24,"1,355,965,653.3713",0,"1,356,279,993.3291",0,0
2022-09-25,"1,355,965,653.3713",0,"1,354,449,954.9640",0,0
2022-09-26,"1,355,965,653.3713",0,"1,356,036,421.2188",0,0

## Get all available historical mcaps of a stablecoin on a particular chain

In [13]:
obj.get_stablecoin_hist_mcap_on_a_chain(1, 'ethereum')

,totalCirculating,totalUnreleased,totalCirculatingUSD,totalMintedUSD,totalBridgedToUSD
date,,,,,
2021-01-01,"13,127,933,832.9708","159,742,117.5663","13,128,617,334.0382","13,382,968,146.8907",0.0000
2021-01-02,"13,118,372,135.7156","164,742,117.5763","13,144,511,896.1194","13,403,927,048.7236",0.0000
2021-01-03,"13,126,053,611.9272","146,742,117.5763","13,167,013,584.5087","13,437,071,473.0300",0.0000
2021-01-04,"13,266,134,880.8645","35,742,117.5763","13,275,702,237.7858","13,516,011,943.9522",0.0000
2021-01-05,"13,255,191,132.4793","12,442,117.5763","13,251,295,796.4415","13,525,595,434.9692",0.0000
...,...,...,...,...,...
2022-09-22,"28,160,801,334.5726","972,099,416.7515","28,164,426,474.5284","31,343,649,634.9702","37,727.9649"
2022-09-23,"28,150,432,972.8205","985,767,553.9541","28,150,473,790.9483","31,324,659,652.6550","37,723.1635"
2022-09-24,"28,139,025,531.0491","987,767,555.9541","28,138,833,904.2852","31,322,400,922.9615","37,742.8518"
2022-09-25,"28,159,266,708.8498","987,767,555.9541","28,159,477,340.1648","31,322,848,523.1188","37,743.3911"
2022-09-26,"28,158,165,469.4559","987,767,555.9541","28,159,315,167.3520","31,323,893,132.3034","37,744.6499"

In [14]:
obj.get_stablecoin_hist_mcap_on_a_chain(2, 'arbitrum')

,totalCirculating,totalUnreleased,totalCirculatingUSD,totalMintedUSD,totalBridgedToUSD
date,,,,,
2021-01-01,0.0000,0,0.0000,0,0.0000
2021-01-02,0.0000,0,0.0000,0,0.0000
2021-01-03,0.0000,0,0.0000,0,0.0000
2021-01-04,0.0000,0,0.0000,0,0.0000
2021-01-05,0.0000,0,0.0000,0,0.0000
...,...,...,...,...,...
2022-09-22,"887,319,372.6033",0,"887,403,605.8313",0,"887,403,605.8313"
2022-09-23,"893,705,087.0178",0,"893,772,195.3328",0,"893,772,195.3328"
2022-09-24,"893,730,470.3323",0,"893,760,732.0460",0,"893,760,732.0460"
2022-09-25,"892,928,359.4572",0,"892,896,196.1777",0,"892,896,196.1777"
2022-09-26,"893,138,995.9803",0,"893,125,965.0823",0,"893,125,965.0823"

## Get current total mcap of all stablecoins on each chain.

In [15]:
obj.get_stablecoins_curr_mcap_by_chain()

                type  totalCirculatingUSD
chain
Optimism   peggedEUR         742,961.6392
Optimism   peggedUSD     726,948,550.3138
Optimism   peggedVAR          53,067.1900
Statemine  peggedUSD       3,490,147.4969
Harmony    peggedUSD       8,798,095.1301
...              ...                  ...
Waves      peggedUSD     623,337,790.5531
Acala      peggedUSD               0.0000
Cronos     peggedUSD         438,905.1867
Mixin      peggedUSD      22,763,992.5353
Kujira     peggedUSD         235,582.6918

[103 rows x 2 columns]

## Get historical prices of all stablecoins

In [16]:
obj.get_stablecoins_prices()

                 stablecoin  prices
date
2020-12-30      binance-usd  1.0035
2020-12-30      celo-dollar  1.0035
2020-12-30              dai  1.0043
2020-12-30             frax  1.0275
2020-12-30    gemini-dollar  1.0078
...                     ...     ...
2022-09-26     vesta-stable  0.9866
2022-09-26    volt-protocol  1.0600
2022-09-26      youves-uusd  0.9731
2022-09-26  yusd-stablecoin  0.9941
2022-09-26             zusd     NaN

[23501 rows x 2 columns]